version: "3.8"

services:
  backend:
    build:
      context: ./backend
    container_name: mern-backend
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
      MONGO_URI: ${MONGO_URI}

  frontend:
    build:
      context: ./frontend
    container_name: mern-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
